.form{
    display:flex;
    position:absolute;
    left:40%;
}

.search{
    width:268px;
    height:25px;
    border:none;
    border-radius:0px;
    outline:none;
   
}
.submit{
    width:30px;
    height:27px;
    border-radius:0px;
    outline:none;
    border:none;
    background-color:white;

}
.searchIcon{
    width:12px;
    height:12px;
}